*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
db.sqlite3-journal
media

# If you are using PostgreSQL or MySQL
*.log
*.pid
*.seed

# Django < 3.1
*.db

# Django >= 3.1
*.sqlite3
*.sqlite3-journal

# Virtual Environments
venv/
ENV/
env/
.venv/

.next

# PyCharm/IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
Desktop.ini

# dotenv environment variables file
.env

# Celery beat schedule file
celerybeat-schedule

# Local thumbnail storage for 'sorl-thumbnail'
*.thumbnail

# Django Debug Toolbar
debug.log

# misc
.DS_Store

# User-specific stuff:
*.swp
*~.py
*.swo
.idea/
*.sublime-workspace

# pytest
.cache
.pytest_cache/

# mypy
.mypy_cache/
secrets.json
node_modules
node_modules
