@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recharts-layer {
  outline: none !important;
}
